@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Open+Sans+Condensed:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border: 0;
}

body {
  background-color: #fbead2;
}

h1 h2 h3 {
  font-family: "Krona One", sans-serif;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
}

.tR {

  background-image: url(../src/images/Cuban.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tL {

  background-image: url(../src/images/IMG_9456-550x413.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bR {

  background-image: url(../src/images/pastelitoscbj.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bL {

  background-image: url(../src/images/Rainbow\ Macaroons.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #bf8124;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid white;
  box-shadow: black 2px 4px 15px 2px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav {
  width: 30%;
  padding: 5px;
  display: flex;
  justify-content: space-around;

}

.nav a {
  padding: 2%;
  border: 2px solid #ffad33;
  border-radius: 4px;
  display: flex;
  background-color: #dedede;
  text-decoration: none;
  justify-content: space-between;
  box-shadow: 2px 4px 10px 2px;
}

.nav a:hover {
  border: 2px solid #dedede;
  background-color: #ffad33;
  color: white;
}